.header {
  border-bottom: 1px solid black;
  padding: 10px 0px;
}
.message {
  border: 1px solid black;
  width: fit-content;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}
.USER {
  background-color: rgba(64, 233, 255, 0.438);
  position: absolute;
  right: 0;
}
.empty {
}
